# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
dataset/CADC0872-1.csv
dataset/CADC0872-5.csv
dataset/CADC0873-1.csv
dataset/CADC0873-5.csv
dataset/CADC0874-1.csv
dataset/CADC0874-5.csv
dataset/CADC0884-5.csv
dataset/CADC0886-5.csv
dataset/CADC0888-5.csv
dataset/CADC0890-5.csv
dataset/CADC0892-1.csv
dataset/CADC0892-5.csv
dataset/CADC0894-1.csv
dataset/CADC0894-5.csv
dataset/dataset.csv
